.list {
    padding-top: 2rem;
}
.section-title{
    color: #220bab;
   
}
.tops {
    /* padding-top: 6rem; */
}
.news{
    height: 30rem;
    background-color: rgb(248, 247, 247);
    box-shadow: 5px 10px 20px 1px rgba(185, 185, 185, 0.253) !important;

    
}



