/* .dropdown {
  width: 280px;
  position: relative;
  margin: 100px auto;
  border-radius: 100px;
}

.dropdown .dropdown-btn {
  padding: 15px 20px;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 5px 10px 20px 1px rgba(109, 108, 108, 0.253) !important;


  color: #333;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 15px;
  background-color: #fff;
  box-shadow: 5px 10px 20px 1px rgba(109, 108, 108, 0.253) !important;

  font-weight: 500;
  color: #333;
  width: 90%;
}
 */